@use 'base/mixins' as m;

.about-us-page {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-info {
    @include m.desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    p {
        text-align: justify;
    }
}