@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    @include m.desktop {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    picture {
        img {
            height: 100%;
        }
    }
}
