@use 'base/mixins' as m;
@use 'base/variables' as v;

.game-details {
    .tags,
    .platforms {
        margin-top: 2rem;
    }

    .game-text {
        text-align: justify;
    }
    .image-container {
        position: relative;
    }
}

